.can {

   
   @media screen and (min-width:768px) {
    padding-top: 88px;
    padding-bottom: 48px;
    background:url(../img/desktop/good-place-background@desktop-1x.png) , linear-gradient(#979797, #979797);
    background-repeat: no-repeat;
    background-size:contain  ,100%;
   }
   @media screen and (min-width: 1200px) {
      padding-top: 100px;
  padding-bottom: 48px;

   }
   padding-top: 0px;
   padding-bottom: 0px;
background:#979797 ;


  &__container {
   
    @media screen and (min-width:768px) {
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 0;
   }
    @media screen and (min-width: 1200px) {
      display: flex;
    flex-direction: column;
    align-items: end;
    height: 128px;
    padding: 0;
    } 
    display: inline-flex;
      padding: 40px 52px 50px 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
   
  }

  &__title {
   
    @media screen and (min-width:768px) {
      color: var(--white-fon, #F8F1E9);

/* tablet/h2 */
font-family: "Montserrat Alternates";
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 120% */
    }
     @media screen and (min-width:1200px) {
        color: var(--white-fon, #f8f1e9);

    /* h2 */
    font-family: "Montserrat Alternates";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px; /* 114.286% */
    }
    color: var(--white-fon, #F8F1E9);

    /* mobile/h2 */
    font-family: "Montserrat Alternates";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 133.333% */
  }

  &__text {

    @media screen and (min-width:768px) {
      color: var(--black-text, #3D3C39);
      max-width: 511px;
/* main text */
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
    }
    @media screen and (min-width:1200px) {
        color: var(--black-text, #3d3c39);

    /* main text */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    max-width: 511px;
    }

    color: var(--black-text, #3D3C39);

    /* mobile/information */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }
}
