.hero {
  @media screen and (min-width:1200px) {
 height: 549px;
  }
  @media screen and (min-width:768px) {
    height: 422px;
  }
  width: 100%;
 
  background: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)) , url(../img/desktop/hero3-background@desktop-1x.webp) ;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 293px;

&__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


  &__title{
    @media screen and (min-width:1200px) {
      color: var(--white-fon, #F8F1E9);

/* h2 */
font-family: "Montserrat Alternates";
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 64px; /* 114.286% */
    }
    @media screen and (min-width:768px) {
      color: var(--white-fon, #F8F1E9);

/* h2 */
font-family: "Montserrat Alternates";
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 64px; /* 114.286% */
    }
    color: var(--white-fon, #F8F1E9);

/* tablet/h2 */
font-family: "Montserrat Alternates";
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 120% */
  }
}
