.reviews {
  @media screen and (min-width:1200px){
    padding: 108px 0 48px;
  }
  padding: 48px 0 48px;
  background: #979797;

  &__title {
  
    @media screen and (min-width:768px) {
      color: var(--white-fon, #F8F1E9);

/* tablet/h2 */
font-family: "Montserrat Alternates";
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 120% */
text-align: end;
    } 
     @media screen and (min-width:1200px) {
       margin-bottom: 40px;
    text-align: center;
    color: var(--white-fon, #f8f1e9);

    /* h2 */
    font-family: "Montserrat Alternates";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px; /* 114.286% */
    }
    color: var(--grey-20, #F4E2E2);
    margin-bottom: 24px;
    /* mobile/h2 */
    font-family: "Montserrat Alternates";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 133.333% */
  }

  &__boxe{
    @media screen and (min-width:768px) {
     width: 468px;
     padding: 0;
    }
    @media screen and (min-width:1200px) {
      padding: 0;
      width: 886px;
    }
    padding-right: 15px;
  }

  &__item {
    @media screen and (min-width:768px) {
      max-width: 468px;
    }
    @media screen and (min-width:1200px) {
        
    width: 886px;
    max-width: 886px;
    align-items: flex-start;
    gap: 48px;
    }
    gap: 16px;
    padding: 8px;
    display: flex;
    max-width: 328px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--white-text, #fdfdfd);
    background: var(--white-fon, #f8f1e9);
  }

  &__boxe:nth-child(2){
    @media screen and (min-width:768px) {
      margin-left: 236px;
    margin-top: 16px;
    }
    @media screen and (min-width:1200px) {
          margin-left: 474px;
    margin-top: 12px;
    margin-bottom: 8px;
    }
    margin-top: 16px;
    padding-left: 15px;
    padding-right: 0;
    margin-bottom: 24px;
  }

  &__photo {
    @media screen and (min-width:768px) {
      width: 64px;
      height: 64px;
      border-radius: 64px;
    }
    @media screen and (min-width:1200px){
      width: 120px;
    height: 120px;
    border-radius: 120px;
    }
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  &__text {
    @media screen and (min-width:768px) {
      width: 356px;
      color: var(--black-text, #3D3C39);

/* tablet/information */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
    }
    @media screen and (min-width:1200px) {
         margin-bottom: 24px;
    color: var(--black-text, #3d3c39);
    max-width: 704px;
    width: 100%;
    /* main text */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    }
margin-bottom: 20px;
    color: var(--black-text, #3D3C39);

/* mobile/information */
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
  }

  &__name {
    @media screen and (min-width:768px) {
      color: var(--blue-information, #3E1063);

/* tablet/bttn */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 112.5% */
    }
    @media screen and (min-width:1200px) {
       color: var(--blue-information, #3e1063);

    /* menu bttn */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 122.222% */
    }
    color: var(--blue-information, #3E1063);

    /* mobile/bbtn */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
  }
}
