.hero {
    padding-top: 88px;
    padding-bottom: 240px;
  
    &__title {
      color: $second-title-color;
      font-family: "Montserrat Alternates";
      font-size: 56px;
      font-style: normal;
      font-weight: 500;
      line-height: 64px;
      text-align: end;
    }
  }