.hero {
    padding-top: 88px;
    padding-bottom: 186px;
    @media screen and (min-width: 1200px) {
      padding-bottom: 240px;
    }
  
    &__title {
      color: $second-title-color;
      font-family: "Montserrat Alternates";
      font-size: 38px;
      font-style: normal;
      font-weight: 500;
      line-height: 64px;
      text-align: center;
      @media screen and (min-width: 768px) {
        font-size: 46px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 56px;
        text-align: end;
      }
    }
  }