body{
    background-color: #FDFDFD;
    font-family: "Montserrat", sans-serif;
    transition: 250ms opacity cubic-bezier(.17,.67,.79,.77);
}

.container {
    max-width: 343px;
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      max-width: 704px;
    }
    @media screen and (min-width: 1440px) {
      max-width: 1360px;
    }

  }