<section class="price">
  <div class="container price__container">
    <div class="price__leftcontainer">
    <h1 class="price__maintitle">Заповніть таблицю</h1>
    <p class="price__information">* обов'язкові для заповнення поля</p>
    <form action="">
      <ul class="price__list">
        <li class="price__iteam">
          <label for="" class="price__label">Ім’я*</label>
          <input
            type="text"
            required
            placeholder="Вікторія"
            class="price__input"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Прізвище*</label>
          <input
            type="text"
            required
            placeholder="Литовченко"
            class="price__input"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Пошта**</label>
          <input
            type="email"
            required="email"
            placeholder="viktoria_litovchenko@gmail.com"
            class="price__input"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Повторіть*</label>
          <input
            type="email"
            required="email"
            placeholder="viktoria_litovchenko@gmail.com"
            class="price__input"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Тема**</label>
          <input
            type="text"
            required
            placeholder="Запит ціни - зустрічі CBD"
            class="price__priceinput"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Повідомлення*</label>
          <input
            type="text"
            required
            placeholder="Insert text here."
            class="price__biginput"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Компанія*</label>
          <input type="text" required class="price__emptyinput" />
        </li>
      </ul>
      <div class="price__containerposition">
      <label for="" class="price__label">Бюджет*</label>
      <ul class="price__numericlist">
        <div class="price__wrapcontainer">
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">1000-2500</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">2501-3500</button>
        </li>
      </div>
      <div class="price__wrapcontainer">
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">3501-5000</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">5001-10000</button>
        </li>
      </div>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">10000+</button>
        </li>
      </ul>
    </div>
    <div class="price__containerposition">
      <label for="" class="price__label">Дата заходу*</label>
      <button type="button" class="price__numericbuton">mm/dd/yyyy</button>
    </div>
    <div class="price__containerposition">
      <label for="" class="price__label">Час дня*</label>
      <ul class="price__timelist">
        <li class="price__timeiteam">
          <button type="button" class="price__bigtext">
            Сніданок, зустріч до полудня
          </button>
        </li>
        <li class="price__timeiteam">
          <button type="button" class="price__bigtext">Обід</button>
        </li>
        <li class="price__timeiteam">
          <button type="button" class="price__bigtext">Вечеря</button>
        </li>
        <li class="price__timeiteam">
          <button type="button" class="price__bigtext">Не відомо</button>
        </li>
      </ul>
    </div>
    <div class="price__containerposition">
      <label for="" class="price__label">Кількість гостей</label>
      <ul class="price__guestslist">
        <div class="price__wrapcontainer">
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">0-50</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">50-100</button>
        </li>
      </div>
        <div class="price__wrapcontainer">
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">100-150</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">150-200</button>
        </li>
      </div>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">200+</button>
        </li>
      </ul>
    </div>
    <div class="price__containerposition">
      <label for="" class="price__label">Це тематичний захід*</label>
      <ul class="price__questionlist">
        <div class="price__wrapcontainer">
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">Так</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">Ні</button>
        </li>
      </div>
        <li class="price__bignumericiteam price__bigiteam">
          <button type="button" class="price__bignumericbuton">
            Що таке тематичний захід?
          </button>
        </li>
      </ul>
    </div>
      <p class="price__informationtext price__infa">
        Зустрічі та спеціальні заходи CBD 450 Massachusetts Ave, NW Вашингтон,
        округ Колумбія 20001
      </p>
      <ul class="price__emaillist">
        <li class="price__emailiteam">
          <p class="price__informationtext">
            Телефон: <span class="price__accented">+1 202 742 5923</span> x 160
          </p>
        </li>
        <li class="price__emailiteam">
          <p class="price__informationtext">
            Електронна адреса:
            <span class="price__accented">info@cbdmeetings.com</span>
          </p>
        </li>
      </ul>
      <ul class="price__listlink">
        <li class="price__linkiteam">
          <p class="price__informationtext">
            Інтернет-магазин організації заходів
          </p>
        </li>
        <li class="price__linkiteam">
          <p class="price__informationtext">Подарунковий Шоколад</p>
        </li>
        <li class="price__linkiteam">
          <p class="price__accented">http://www.giftedchocolate.com</p>
        </li>
      </ul>
      <ul class="price__listsocialnetworks">
        <li class="price__socialnetworksiteam">
          <p class="price__informationtext">Соціальні мережі</p>
        </li>
        <li class="price__linkiteam">
          <p class="price__informationtext">
            Facebook.com/<span class="price__accented">CouturebyDesign</span>
          </p>
        </li>
        <li class="price__linkiteam">
          <p class="price__informationtext">
            Twitter: <span class="price__accented">@couturebydesign</span>
          </p>
        </li>
        <li class="price__linkiteam">
          <p class="price__informationtext">
            Електронна адреса:<span class="price__accented"
              >info@cbdmeetings.com</span
            >
          </p>
        </li>
      </ul>
      <button type="submit" class="price__button">Надіслати</button>
    </div>
    <div class="price__rigtcontainer">
    </form>
    <p class="price__textrequest">
      Якщо ви знаєте, який тип події хотіли б, надішліть запит на пропозицію.
    </p>
    <img src="./img/price-flowers.webp" alt="flowers" class="price__image" />
    <button type="button" class="price__brochurebuton">
      Загрузити брошуру
    </button>
    <form action="">
      <label for="">Тип заходу*</label>
      <ul class="price__listrespond">
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Вечірка</button>
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Корпоративний захід
          </button>
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Вечерній захід
          </button>
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Збір коштів
          </button>
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Рецепція</button>
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Маркетинг стилю життя
          </button>
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Святкова вечірка
          </button>
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Політичний захід
          </button>
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Ювілейне святкування
          </button>
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Інше</button>
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Весілля</button>
        </li>
      </ul>
      <label for="">Вимоги до логістики*</label>
      <ul class="price__listrespond">
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Аудіовізуал
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Звук</button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Відеозйомка
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Освітлення заходів(Кольорове освітлення)
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Реєстраційний штат
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Фотозйомка</button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Послуги планування
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Мені не потрібні жодні з цих послуг
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
      </ul>
      <label for="">Необхідне обладнання*</label>
      <ul class="price__listrespond">
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Ноутбук</button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Доступ в інтернет
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Запис відео
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Мікрофон</button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Накладні мікрофони
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            ПодіумПодіум
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Проекційний екран
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Проектор</button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Сцена</button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Нічого не потрібно
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
      </ul>
      <label for="">Елементи підтримки реєстрації*</label>
      <ul class="price__listrespond">
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Власники значків
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Шнурки</button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Роздатковий матеріал
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Плакати</button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Вивіски</button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">Брошури</button>
          <input class="price__chekbox" type="checkbox" />
        </li>
        <li class="price__iteamrespond">
          <button type="button" class="price__buttonrespond">
            Нічого не потрібно
          </button>
          <input class="price__chekbox" type="checkbox" />
        </li>
      </ul>
      <p class="price__textplace">
        Будь ласка, надайте нам будь-яку додаткову інформацію про вашу подію чи
        потреби в управлінні місцем призначення
      </p>
      <input type="text" class="price__placeinput">
      <img src="./img/price-code.webp" alt="code" class="price__imgcode">
      <h3 class="price__titlcode">Введіть код:*</h3>
      <input type="text" class="price__inputcode">
    </form>
  </div>
  </div>
</section>
