<section class="price">
  <div class="container">
    <h1 class="price__maintitle">Заповніть таблицю</h1>
    <p class="price__information">* обов'язкові для заповнення поля</p>
    <form action="">
      <ul class="price__list">
        <li class="price__iteam">
          <label for="" class="price__label">Ім’я*</label>
          <input
            type="text"
            required
            placeholder="Вікторія"
            class="price__input"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Прізвище*</label>
          <input
            type="text"
            required
            placeholder="Литовченко"
            class="price__input"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Пошта**</label>
          <input
            type="email"
            required="email"
            placeholder="viktoria_litovchenko@gmail.com"
            class="price__input"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Повторіть*</label>
          <input
            type="email"
            required="email"
            placeholder="viktoria_litovchenko@gmail.com"
            class="price__input"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Тема**</label>
          <input
            type="text"
            required
            placeholder="Запит ціни - зустрічі CBD"
            class="price__priceinput"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Повідомлення*</label>
          <input
            type="text"
            required
            placeholder="Insert text here."
            class="price__biginput"
          />
        </li>
        <li class="price__iteam">
          <label for="" class="price__label">Компанія*</label>
          <input type="text" required class="price__emptyinput" />
        </li>
      </ul>
      <label for="" class="price__label">Бюджет*</label>
      <ul class="price__numericlist">
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">1000-2500</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">2501-3500</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">3501-5000</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">5001-10000</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">10000+</button>
        </li>
      </ul>
      <label for="" class="price__label">Дата заходу*</label>
      <button type="button" class="price__numericbuton">mm/dd/yyyy</button>
      <label for="" class="price__label">Час дня*</label>
      <ul class="price__timelist">
        <li class="price__timeiteam">
          <button type="button" class="price__numericbuton">
            Сніданок, зустріч до полудня
          </button>
        </li>
        <li class="price__timeiteam">
          <button type="button" class="price__numericbuton">Обід</button>
        </li>
        <li class="price__timeiteam">
          <button type="button" class="price__numericbuton">Вечеря</button>
        </li>
        <li class="price__timeiteam">
          <button type="button" class="price__numericbuton">Не відомо</button>
        </li>
      </ul>
      <label for="" class="price__label">Кількість гостей</label>
      <ul class="price__guestslist">
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">0-50</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">50-100</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">100-150</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">150-200</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">200+</button>
        </li>
      </ul>
      <label for="" class="price__label">Це тематичний захід*</label>
      <ul class="price__questionlist">
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">Так</button>
        </li>
        <li class="price__numericiteam">
          <button type="button" class="price__numericbuton">Ні</button>
        </li>
        <li class="price__bignumericiteam">
          <button type="button" class="price__numericbuton">
            Що таке тематичний захід?
          </button>
        </li>
      </ul>
      <p class="price__informationtext">
        Зустрічі та спеціальні заходи CBD 450 Massachusetts Ave, NW Вашингтон,
        округ Колумбія 20001
      </p>
      <ul class="price__emaillist">
        <li class="price__emailiteam">
          <p class="price__informationtext">
            Телефон: <span class="price__accented">+1 202 742 5923</span> x 160
          </p>
        </li>
        <li class="price__emailiteam">
          <p class="price__informationtext">
            Електронна адреса:
            <span class="price__accented">info@cbdmeetings.com</span>
          </p>
        </li>
      </ul>
      <ul class="price__listlink">
        <li class="price__linkiteam">
          <p class="price__informationtext">
            Інтернет-магазин організації заходів
          </p>
        </li>
        <li class="price__linkiteam">
          <p class="price__informationtext">Подарунковий Шоколад</p>
        </li>
        <li class="price__linkiteam">
          <p class="price__accented">http://www.giftedchocolate.com</p>
        </li>
      </ul>
      <ul class="price__listsocialnetworks">
        <li class="price__socialnetworksiteam">
          <p class="price__informationtext">Соціальні мережі</p>
        </li>
        <li class="price__linkiteam">
          <p class="price__informationtext">
            Facebook.com/<span class="price__accented">CouturebyDesign</span>
          </p>
        </li>
        <li class="price__linkiteam">
          <p class="price__informationtext">
            Twitter: <span class="price__accented">@couturebydesign</span>
          </p>
        </li>
        <li class="price__linkiteam">
          <p class="price__informationtext">
            Електронна адреса:<span class="price__accented"
              >info@cbdmeetings.com</span
            >
          </p>
        </li>
      </ul>
      <button type="submit" class="price__button">Надіслати</button>
    </form>
    <p class="price__textrequest">
      Якщо ви знаєте, який тип події хотіли б, надішліть запит на пропозицію.
    </p>
    <img src="./img/price-flowers.webp" alt="" class="price__image" />
    <button type="button" class="price__brochurebuton">Загрузити брошуру</button>
    <form action="">
        <label for="">Тип заходу*</label>
        <ul class="price__listrespond">
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Вечірка</button>
            </li>
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Корпоративний захід</button>
            </li>
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Вечерній захід</button>
            </li>
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Збір коштів</button>
            </li>
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Рецепція</button>
            </li>
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Маркетинг стилю життя</button>
            </li>
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Святкова вечірка</button>
            </li>
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Політичний захід</button>
            </li>
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Ювілейне святкування</button>
            </li>
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Інше</button>
            </li>
            <li class="price__iteamrespond">
                <button type="button" class="price__buttonrespond">Весілля</button>
            </li>
        </ul>
    </form>
  </div>
</section>
