$text-color:#3D3C39;
$second-text-color:#979797;
$title-color:#A76E00;
$second-title-color:#F8F1E9;
$logo-color:#DA9D27;
$background-color:#FDFDFD;
$name-color:#3E1063;
$button-color:#04867E;
$footer-color:#16392D;