<!-- <section class="cos">
    <div class="container">
        <h1 class="cos__title">Вибір сервісу</h1>
        <div class="cos__images-container">
            <div class="cos__images-container-junior">
                <picture class="cos__image">
                    <source srcset="../../img/desktop/choose-of-service-img1@desktop-1x.webp 1x, ../../img/desktop/choose-of-service-img1@desktop-2x.webp 2x" media="(min-width: 1200px)">
                <source srcset="../../img/tablet/choose-of-service-img1@tablet-1x.webp 1x, ../../img/tablet/choose-of-service-img1@tablet-2x.webp 2x" media="(min-width: 768px)">
                <source srcset="../../img/mobile/choose-of-service-img1@mobile-1x.webp 1x, ../../img/mobile/choose-of-service-img1@mobile-2x.webp 2x" media="(max-width:767px)">
                    <img src="../../img/desktop/choose-of-service-img1@desktop-1x.webp" alt="">
                </picture>
                <div class="cos__text-container">
                    <p class="cos__subtitle">Спеціальне меню</p>
                    <ul class="cos__list">
                        <li class="cos__item">
                            <p class="cos__text">Приватний обід для невеликих зустрічей</p>
                        </li>
                        <li class="cos__item">
                            <p class="cos__text">Параметри спеціального меню</p>
                        </li>
                        <li class="cos__item">
                            <p class="cos__text">Декор подій</p>
                        </li>
                        <li class="cos__item">
                            <p class="cos__text">Звук і освітлення</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cos__images-container-junior">
                <div class="cos__text-container">
                    <p class="cos__subtitle">Логістика та попередня реєстрація</p>
                    <ul class="cos__list">
                        <li class="cos__item">
                            <p class="cos__text">Внутрішні сертифіковані маркетологи</p>
                        </li>
                        <li class="cos__item">
                            <p class="cos__text">Новітні технології на місці</p>
                        </li>
                        <li class="cos__item">
                            <p class="cos__text">Повні послуги з керування даними</p>
                        </li>
                        <li class="cos__item">
                            <p class="cos__text">Надійні постачальники</p>
                        </li>
                    </ul>
                </div>
                <picture class="cos__image">
                    <source srcset="../../img/desktop/choose-of-service-img2@desktop-1x.webp 1x, ../../img/desktop/choose-of-service-img2@desktop-2x.webp 2x" media="(min-width: 1200px)">
                <source srcset="../../img/tablet/choose-of-service-img2@tablet-1x.webp 1x, ../../img/tablet/choose-of-service-img2@tablet-2x.webp 2x" media="(min-width: 768px)">
                <source srcset="../../img/mobile/choose-of-service-img2@mobile-1x.webp 1x, ../../img/mobile/choose-of-service-img2@mobile-2x.webp 2x" media="(max-width:767px)">
                    <img src="../../img/desktop/choose-of-service-img2@desktop-1x.webp" alt="">
                </picture>
            </div>
            <div class="cos__images-container-junior">
                <picture class="cos__image">
                    <source srcset="../../img/desktop/choose-of-service-img3@desktop-1x.webp 1x, ../../img/desktop/choose-of-service-img3@desktop-2x.webp 2x" media="(min-width: 1200px)">
                <source srcset="../../img/tablet/choose-of-service-img3@tablet-1x.webp 1x, ../../img/tablet/choose-of-service-img3@tablet-2x.webp 2x" media="(min-width: 768px)">
                <source srcset="../../img/mobile/choose-of-service-img3@mobile-1x.webp 1x, ../../img/mobile/choose-of-service-img3@mobile-2x.webp 2x" media="(max-width:767px)">
                    <img src="../../img/desktop/choose-of-service-img3@desktop-1x.webp" alt="">
                </picture>
                <div class="cos__text-container">
                    <p class="cos__subtitle">Управління зустріччю</p>
                    <ul class="cos__list">
                        <li class="cos__item">
                            <p class="cos__text">Управління зустріччю</p>
                        </li>
                        <li class="cos__item">
                            <p class="cos__text">Вибір місця та укладення договору</p>
                        </li>
                        <li class="cos__item">
                            <p class="cos__text">Зелені зустрічі</p>
                        </li>
                        <li class="cos__item">
                            <p class="cos__text">Конференції та управління виставками</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->