<section class="comments">
    <div class="container">
        <h1 class="comments__title">Відгуки</h1>
        <div class="comments__text-container">
            <picture class="comments__image">
                <source srcset="../../img/mobile/comments-img1@mobile-1x.png 1x, ../../img/mobile/comments-img1@mobile-2x.png 2x" media="(max-width:767px)">
                <source srcset="../../img/tablet/comments-img1@tablet-1x.png 1x, ../../img/tablet/comments-img1@tablet-2x.png 2x" media="(min-width:768px, max-width:1439px)">
                <source srcset="../../img/desktop/comments-img1@desktop-1x.webp 1x, ../../img/desktop/comments-img1@desktop-2x.webp 2x" media="(min-width:1440px)">
                <img src="../../img/desktop/comments-img1@desktop-1x.webp" alt="">
            </picture>
            <div>
            <p class="comments__text">Команда виконала фантастичну роботу для приватного сектору Світового банку семінари з розвитку консолідації центрального банку. Ми в Африці, тому ми могли довірити їм усі деталі.</p>
            <p class="comments__subtext">Маллам Санусі Ламідо Санусі, губернатор Центрального банку Нігерії</p>
            </div>
        </div>
        <div class="comments__text-container">
            <div>
            <p class="comments__text">Айві займалася зв'язками з громадськістю та комунікаціями для історичного Sojourner Truth Unveiling з першою леді Мішель Обамою. Вона та її команда надзвичайно вразили.</p>
            <p class="comments__subtext">Д-р Е. Фей Вільямс, Національний голова NCBW</p>
        </div>
            <picture class="comments__image">
                <source srcset="../../img/mobile/comments-img2@mobile-1x.png 1x, ../../img/mobile/comments-img2@mobile-2x.png 2x" media="(max-width:767px)">
                <source srcset="../../img/tablet/comments-img2@tablet-1x.png 1x, ../../img/tablet/comments-img2@tablet-2x.png 2x" media="(min-width:768px, max-width:1439px)">
                <source srcset="../../img/desktop/comments-img2@desktop-1x.webp 1x, ../../img/desktop/comments-img2@desktop-2x.webp 2x" media="(min-width:1440px)">
                <img src="../../img/desktop/comments-img2@desktop-1x.webp" alt="">
            </picture>
        </div>
        <button type="button" class="comments__button">Детальніше</button>
    </div>
</section>