<!-- <section class="decisions">
    <div class="decisions__container container">
        <div class="decisions__text-container">
            <h1 class="decisions__title">Рішення під ключ: Події, якими ми керуємо</h1>
            <ul class="decisions__list">
                <li class="decisions__item">
                    <p class="decisions__text">Ми плануємо заходи у Вашингтоні, округ Колумбія, на національному рівні, на Багамах і для наших міжнародних партнерів.</p>
                </li>
                <li class="decisions__item">
                    <p class="decisions__text">Наш готовий підхід до вражаючих заходів є неперевершеним. Ми наймаємо графічних дизайнерів, менеджерів з логістики, Фахівці зі зв’язків з громадськістю та мають власний залік і компонент цифрового друку.</p>
                </li>
                <li class="decisions__item">
                    <p class="decisions__text">У нас є плани поверхів і характеристики майже кожного приміщення, конференц-центр і приміщення для зустрічей у Вашингтоні, округ Колумбія столична область і чудові відносиниз нашими сторонніми постачальниками. Ми також пропонуємо послуги перекладу іспанською, португальською, французькою та німецькою мовами.</p>
                </li>
            </ul>
        </div>
        <div class="decisions__link-container">
            <ul class="decisions__list">
                <li class="decisions__item">
                    <p class="decisions__link">Радники з протоколу</p>
                </li>
                <li class="decisions__item">
                    <p class="decisions__link">Послуги перекладу</p>
                </li>
                <li class="decisions__item">
                    <p class="decisions__link">Маркетинг і зв'язки з громадськістю</p>
                </li>
                <li class="decisions__item">
                    <p class="decisions__link">Пошук місця, управління логістикою</p>
                </li>
            </ul>
            <picture class="decisions__image">
                <source srcset="../../../img/mobile/decisions-img@mobile-1x.webp 1x, ../../../img/mobile/decisions-img@mobile-2x.webp 2x" media="(max-width:767px)">
                <source srcset="../../../img/tablet/decisions-img@tablet-1x.webp 1x, ../../../img/tablet/decisions-img@tablet-2x.webp 2x" media="(min-width:768px, max-width:1439px)">
                <source srcset="../../../img/desktop/decisions-img@desktop-1x.webp 1x, ../../../img/desktop/decisions-img@desktop-2x.webp 2x" media="(min-width:1440px)">
                <img src="../../../img/desktop/decisions-img@desktop-1x.webp" alt="">
            </picture>
        </div>
    </div>
</section> -->