<section class="good-place">
  <div class="container">
    <h1 class="good-place__title">
      Розкішне місце з управління та планування послуг
    </h1>
    <p class="good-place__text">
      Пропонуємо рішення під ключ. Обслуговування країн по всьому світу.
    </p>
    <div class="good-place__text-container">
      <p class="good-place__number">100+</p>
      <p class="good-place__information">Заходів</p>
    </div>
    <div class="good-place__text-container">
      <p class="good-place__number">5</p>
      <p class="good-place__information">Континентів</p>
    </div>
  </div>
</section>
