<!-- <section class="our-team">
    <div class="container">
        <h1 class="our-team__title">Наша команда</h1>
        <ul class="our-team__list">
            <li class="our-team__item">
                <picture class="our-team__image">
                    <sorce srcset="../../img/mobile/our-team-img1@mobile-1x.webp 1x, ../../img/mobile/our-team-img1@mobile-2x.webp 2x" media="(max-width:767px)">
                    <sorce srcset="../../img/tablet/our-team-img1@tablet-1x.webp 1x, ../../img/tablet/our-team-img1@tablet-2x.webp 2x" media="(min-width:768px)">
                    <sorce srcset="../../img/desktop/our-team-img1@desktop-1x.webp 1x, ../../img/desktop/our-team-img1@desktop-2x.webp 2x" media="(min-width:1440px)">
                    <img src="../../img/desktop/our-team-img1@desktop-1x.webp" alt="">
                </picture>
                <p class="our-team__text">Айві Пендлтон — креативний директор і головний планувальник. Во...</p>
                <button type="button" class="our-team__button">Детальніше</button>
                <p class="our-team__name">Айві К. Пендлтон</p>
                <p class="our-team__name">Головний планувальник</p>
            </li>
            <li class="our-team__item">
                <picture class="our-team__image">
                    <sorce srcset="../../img/mobile/our-team-img2@mobile-1x.webp 1x, ../../img/mobile/our-team-img2@mobile-2x.webp 2x" media="(max-width:767px)">
                    <sorce srcset="../../img/tablet/our-team-img2@tablet-1x.webp 1x, ../../img/tablet/our-team-img2@tablet-2x.webp 2x" media="(min-width:768px)">
                    <sorce srcset="../../img/desktop/our-team-img2@desktop-1x.webp 1x, ../../img/desktop/our-team-img2@desktop-2x.webp 2x" media="(min-width:1440px)">
                    <img src="../../img/desktop/our-team-img2@desktop-1x.webp" alt=""></picture>
                <p class="our-team__text">Камарія Салау є старшим спеціалістом з логістики в CBD. Вона тісно співпрацю...</p>
                <button type="button" class="our-team__button">Детальніше</button>
                <p class="our-team__name">Камарія Салау</p>
                <p class="our-team__name">Спеціаліст з логістики</p>
            </li>
            <li class="our-team__item">
                <picture class="our-team__image">
                    <sorce srcset="../../img/mobile/our-team-img3@mobile-1x.webp 1x, ../../img/mobile/our-team-img3@mobile-2x.webp 2x" media="(max-width:767px)">
                    <sorce srcset="../../img/tablet/our-team-img3@tablet-1x.webp 1x, ../../img/tablet/our-team-img3@tablet-2x.webp 2x" media="(min-width:768px)">
                    <sorce srcset="../../img/desktop/our-team-img3@desktop-1x.webp 1x, ../../img/desktop/our-team-img3@desktop-2x.webp 2x" media="(min-width:1440px)">
                    <img src="../../img/desktop/our-team-img3@desktop-1x.webp" alt=""></picture>
                <p class="our-team__text">Майкл — досвідчений фахівець з логістики, який працює в CBD з 2007 року...</p>
                <button type="button" class="our-team__button">Детальніше</button>
                <p class="our-team__name">Майкл Дюбуа</p>
                <p class="our-team__name">Спеціаліст з логістики</p>
            </li>
            <li class="our-team__item">
                <picture class="our-team__image">
                    <sorce srcset="../../img/mobile/our-team-img1@mobile-1x.webp 1x, ../../img/mobile/our-team-img1@mobile-2x.webp 2x" media="(max-width:767px)">
                    <sorce srcset="../../img/tablet/our-team-img4@tablet-1x.webp 1x, ../../img/tablet/our-team-img4@tablet-2x.webp 2x" media="(min-width:768px)">
                    <sorce srcset="../../img/desktop/our-team-img4@desktop-1x.webp 1x, ../../img/desktop/our-team-img4@desktop-2x.webp 2x" media="(min-width:1440px)">
                    <img src="../../img/desktop/our-team-img4@desktop-1x.webp" alt=""></picture>
                <p class="our-team__text">Грегорі Блейкі — найкращий фотограф у Вашингтоні, округ Колумбія...</p>
                <button type="button" class="our-team__button">Детальніше</button>
                <p class="our-team__name">Грегорі Блейкі</p>
                <p class="our-team__name">Офіційний фотограф</p>
            </li>
            <li class="our-team__item">
                <picture class="our-team__image">
                    <sorce srcset="../../img/mobile/our-team-img1@mobile-1x.webp 1x, ../../img/mobile/our-team-img1@mobile-2x.webp 2x" media="(max-width:767px)">
                    <sorce srcset="../../img/tablet/our-team-img5@tablet-1x.webp 1x, ../../img/tablet/our-team-img5@tablet-2x.webp 2x" media="(min-width:768px)">
                    <sorce srcset="../../img/desktop/our-team-img5@desktop-1x.webp 1x, ../../img/desktop/our-team-img5@desktop-2x.webp 2x" media="(min-width:1440px)">
                    <img src="../../img/desktop/our-team-img5@desktop-1x.webp" alt=""></picture>
                <p class="our-team__text">Ми працюємо виключно з лауреатом нагород оператором Маршаллом Л...</p>
                <button type="button" class="our-team__button">Детальніше</button>
                <p class="our-team__name">Маршалл Леві</p>
                <p class="our-team__name">Головний відеооператор</p>
            </li>
        </ul>
    </div>
</section> -->