<section class="our-team">
    <div class="container">
        <h1 class="our-team__title">Наша команда</h1>
        <ul class="our-team__list">
            <li class="our-team__item">
                <picture class="our-team__image"></picture>
                <p class="our-team__text">Айві Пендлтон — креативний директор і головний планувальник. Во...</p>
                <button type="button" class="our-team__button">Детальніше</button>
                <p class="our-team__name">Айві К. Пендлтон</p>
                <p class="our-team__name">Головний планувальник</p>
            </li>
            <li class="our-team__item">
                <picture class="our-team__image"></picture>
                <p class="our-team__text">Камарія Салау є старшим спеціалістом з логістики в CBD. Вона тісно співпрацю...</p>
                <button type="button" class="our-team__button">Детальніше</button>
                <p class="our-team__name">Камарія Салау</p>
                <p class="our-team__name">Спеціаліст з логістики</p>
            </li>
            <li class="our-team__item">
                <picture class="our-team__image"></picture>
                <p class="our-team__text">Майкл — досвідчений фахівець з логістики, який працює в CBD з 2007 року...</p>
                <button type="button" class="our-team__button">Детальніше</button>
                <p class="our-team__name">Майкл Дюбуа</p>
                <p class="our-team__name">Спеціаліст з логістики</p>
            </li>
            <li class="our-team__item">
                <picture class="our-team__image"></picture>
                <p class="our-team__text">Грегорі Блейкі — найкращий фотограф у Вашингтоні, округ Колумбія...</p>
                <button type="button" class="our-team__button">Детальніше</button>
                <p class="our-team__name">Грегорі Блейкі</p>
                <p class="our-team__name">Офіційний фотограф</p>
            </li>
            <li class="our-team__item">
                <picture class="our-team__image"></picture>
                <p class="our-team__text">Ми працюємо виключно з лауреатом нагород оператором Маршаллом Л...</p>
                <button type="button" class="our-team__button">Детальніше</button>
                <p class="our-team__name">Маршалл Леві</p>
                <p class="our-team__name">Головний відеооператор</p>
            </li>
        </ul>
    </div>
</section>