<section class="why">
  <div class="container">
    <h1 class="why__title">Чому CBD: Зустрічі та події</h1>
    <ul class="why__list">
      <li class="why__item">
        <p class="why__link">
          Корпоративні заходи, зустрічі, конференції та інше
        </p>
      </li>
      <li class="why__item">
        <p class="why__link">
          Некомерційні організації, асоціації, Центральні банки
        </p>
      </li>
      <li class="why__item"><p class="why__link">Міжнародні зустрічі</p></li>
      <li class="why__item">
        <p class="why__link">
          Спеціальність: Закордонний приватний сектор Інвестиційні семінари
        </p>
      </li>
    </ul>
    <button type="button" class="why__button">Загрузити брошуру</button>
    <ul class="why__list">
      <li class="why__item">
        <p class="why__text">Штаб-квартира організації з планування заходів у Вашингтоні, округ Колумбія. CBD керує подіями для міжнародних урядів, некомерційних організацій, корпорацій, малих підприємств та приватних осіб. Ми є малим бізнесом. Нашою власницею є жінка, яка має членство у Washington Women In PR та Destination DC.</p>
      </li>
      <li class="why__item"><p class="why__text">Наш корпоративний відділ пропонує планування конференцій, щорічних зустрічей і управління при проведенні заходів. Наш соціальний відділ планує соціальні заходи, збори коштів для неприбуткових організацій і весілля.</p></li>
      <li class="why__item"><p class="why__text">Ми керували подіями від концептуалізації до завершення для кількох історичних та широко розрекламованих подій, наприклад: The Journer Truth Unveiling with First Lady Сполучених Штатів пані Мішель Обама, секретар США Гілларі Клінтон,  Уряд Бразилії, Посольство Швеції, Coca-Cola, Time Warner, Dodge, Atlanta Committee Олімпійських ігор (ACOG) та багато інших.</p></li>
    </ul>
    <button type="button" class="why__button-link">Детальніше</button>
  </div>
</section>
