<section class="search">
  <div class="container">
    <div class="search__containerbig">
    <ul class="search__listphoto">
      <li class="search__iteamphoto">
        <img src="../../img/holiday.webp" alt="holiday" class="search__photofirst" />
      </li>
      <li class="search__iteamphoto">
        <img src="../../img/feast.webp" alt="feast" class="search__phototwo" />
      </li>
      <li class="search__iteamphoto">
        <img src="../../img/pie.webp" alt="pie" class="search__phototree" />
      </li>
    </ul>
    <div class="search__containerdata">
    <h3 class="search__subtitle">Архів</h3>
    <ul class="search__listext">
      <li class="search__subiteamdate">
        <p class="search__date">Серпень <span class="search__datespan">2019</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Травень <span class="search__datespan">2019</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Січень <span class="search__datespan">2015</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Вересень <span class="search__datespan">2014</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Грудень <span class="search__datespan">2013</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Грудень <span class="search__datespan">2012</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Листопад <span class="search__datespan">2012</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Березень <span class="search__datespan">2012</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Січень <span class="search__datespan">2012</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Листопад <span class="search__datespan">2011</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Квітень <span class="search__datespan">2011</span></p>
      </li>
      <li class="search__subiteamdate">
        <p class="search__date">Березень <span class="search__datespan">2011</span></p>
      </li>
    </ul>
  </div>
</div>
<div class="search__containercalendar">
    <div class="search__container">
    <ul class="search__list">
      <li class="search__iteam">
        <h2 class="search__title">Світські заходи, вечірки тощо.</h2>
        <h3 class="search__minititle">09 Березня 2011</h3>
        <p class="search__text">
          Повний робочий день на управління вашими подіями...
        </p>
        <button type="button" class="search__button">Детальніше</button>
      </li>
      <li class="search__iteam">
        <h2 class="search__title">Світські заходи та весілля</h2>
        <h3 class="search__minititle">06 Серпня 2011</h3>
        <p class="search__text">
          Податки та прогнози витрат. Організація заходів витрат і цін ск...
        </p>
        <button type="button" class="search__button">Детальніше</button>
      </li>
      <li class="search__iteam">
        <h2 class="search__bigtitle">Формула по прийому на роботу</h2>
        <h3 class="search__minititle">21 Серпня 2011</h3>
        <p class="search__text">
          Організатор заходів із повним набором послуг хтось найняти...
        </p>
        <button type="button" class="search__button">Детальніше</button>
      </li>
    </ul>
  </div>
  <div class="search__bigcontainer">
    <h3 class="search__calendar">Календар</h3>
    <h3 class="search__titlecalendar">
      Жовтень 2022
    </h3>
    <table class="search__table">
      <caption class="search__minitext">Лис «</caption>
      <thead>
        <th class="search__thth">Пн</th>
        <th class="search__thth">Вт</th>
        <th class="search__thth">Ср</th>
        <th class="search__thth">Чт</th>
        <th class="search__thth">Пт</th>
        <th class="search__thth">Сб</th>
        <th class="search__thth">Нд</th>
      </thead>
      <tbody>
        <tr class="search__tbtr">
            <td class="search__tbtd"></td>
            <td class="search__tbtd"></td>
            <td class="search__tbtd"></td>
            <td class="search__tbtd"></td>
            <td class="search__tbtd"></td>
            <td class="search__tbtd">1</td>
            <td class="search__tbtd">2</td>
        </tr>
        <tr class="search__tbtr">
            <td class="search__tbtd">3</td>
            <td class="search__tbtd">4</td>
            <td class="search__tbtd">5</td>
            <td class="search__tbtd">6</td>
            <td class="search__tbtd">7</td>
            <td class="search__tbtd">8</td>
            <td class="search__tbtd">9</td> 
        </tr>
        <tr class="search__tbtr">
            <td class="search__tbtd">10</td>
            <td class="search__tbtd">11</td>
            <td class="search__tbtd">12</td>
            <td class="search__tbtd">13</td>
            <td class="search__tbtd">14</td>
            <td class="search__tbtd">15</td>
            <td class="search__tbtd">16</td>
        </tr>
        <tr class="search__tbtr">
            <td class="search__tbtd">17</td>
            <td class="search__tbtd">18</td>
            <td class="search__tbtd">19</td>
            <td class="search__tbtd">20</td>
            <td class="search__tbtd">21</td>
            <td class="search__tbtd">22</td>
            <td class="search__tbtd">23</td>
        </tr>
        <tr class="search__tbtr">
            <td class="search__tbtd">24</td>
            <td class="search__tbtd">25</td>
            <td class="search__tbtd">26</td>
            <td class="search__tbtd">27</td>
            <td class="search__tbtd">28</td>
            <td class="search__tbtd">29</td>
            <td class="search__tbtd">30</td>
        </tr>
        <tr class="search__tbtr">
            <td class="search__tbtd">31</td>
            <td class="search__tbtd"></td>
            <td class="search__tbtd"></td>
            <td class="search__tbtd"></td>
            <td class="search__tbtd"></td>
            <td class="search__tbtd"></td>
            <td class="search__tbtd"></td>
        </tr>
      </tbody>
      <caption class="search__minitextver">Вер «</caption>
    </table>
  </div>
  </div>
  </div>
</section>
