<section class="information">
    <div class="container information__container">
        <h1 class="information__title">Інформаційні відео CBD</h1>
        <p class="information__text">CBD співпрацює з головним відеооператором Маршаллом Леві для створення відео високої чіткості вашої події. Відеоформати доступні для перепродажу, онлайн та інші цифрові формати. Для отримання додаткової інформації про наші послуги відеозйомки натисніть тут</p>
        <button class="information__link" href="#">Детальніше</button>
    </div>
</section>