.decisions{
    position: relative;
    padding-top: 348px;
    @media screen and (min-width:768px){
        padding-top: 88px;
        padding-bottom: 440px;
    }
    @media screen and (min-width:1440px){
        padding-top: 108px;
    padding-bottom: 48px;
    }

    &__container{
        display: flex;
    }

    &__text-container{
        &:first-of-type{
            width: 734px;
        }
    }

    &__link-container{
        padding-top: 176px;
    }

    &__title{
        font-family: "Montserrat Alternates";
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
color: $title-color;
margin-bottom: 128px;
position: absolute;
top: 48px;
left: 24px;
@media screen and (min-width:768px){
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    position: absolute;
top: 88px;
left: 203px;
width: 525px;
}
@media screen and (min-width:1440px){
    font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 64px;
position: static;
width: auto;
}


&:after{
    position: absolute;
width: 570px;
content: '';
display: none;
background-color: $title-color;
height: 2px;

@media screen and (min-width:768px){
    width: 2px;
    height: 360px;
    display: block;
    left: 177px;
top: 128px;
}
@media screen and (min-width:1440px){
    width: 570px;
    height: 2px;
    left: 830px;
top: 172px;
display: block;
}
}
    }

    &__text{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
color: $text-color; 
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 4;
display: -webkit-box;
-webkit-box-orient: vertical;
@media screen and (min-width:768px){
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: block;
}
@media screen and (min-width:1440px){
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
display: block;
}

.decisions__text-container .decisions__item:nth-child(2) &{
    display: none;
    @media screen and (min-width:768px){
        display: block;
    }
    @media screen and (min-width:1440px){
        display: block;
    }
}
.decisions__text-container .decisions__item:nth-child(3) &{
    display: none;
    @media screen and (min-width:768px){
        display: block;
    }
    @media screen and (min-width:1440px){
        display: block;
    }
}
    }

    &__list{
        display: flex;
        flex-direction: column;
        position: absolute;
        @media screen and (min-width:768px){
            position: absolute;
        }
        @media screen and (min-width:1440px){
            position: static;
        }
        .decisions__text-container &{
            
            gap: 32px;
            top: 386px;
            left: 14px;
            width: 327px;
            @media screen and (min-width:768px){
                gap: 8px;
                top: 216px;
            left: 395px;
            width: auto;
            }
            @media screen and (min-width:1440px){
                gap: 32px;
                width: auto;
            }
        }
        .decisions__link-container &{
            gap: 4px;
            top: 216px;
            left: 175px;
            width: 164px;
            @media screen and (min-width:768px){
                gap: 8px;
                top: 452px;
            left: 32px;
            width: auto;
            }
            @media screen and (min-width:1440px){
                gap: 16px;
                width: auto;
            }
        }
    }

    &__link{
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
color:$logo-color;

@media screen and (min-width:768px){
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
@media screen and (min-width:1440px){
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
    }

    &__image{
        margin-top: 24px;
        display: block;
        transform: scale(0.75, 0.75);
position: absolute;
top: 162px;
left: -86px;
@media screen and (min-width:768px){
   position: absolute;
   top: 198px;
left: -76px;
}
@media screen and (min-width:1440px){
    position: static;
}
    }
}
@media screen and (min-width:768px){
   
}
@media screen and (min-width:1440px){
    
}