.decisions{
    position: relative;
    padding-top: 108px;
    padding-bottom: 48px;

    &__container{
        display: flex;
    }

    &__text-container{
        &:first-of-type{
            width: 734px;
        }
    }

    &__link-container{
        padding-top: 176px;
    }

    &__title{
        font-family: "Montserrat Alternates";
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 64px;
color: $title-color;
margin-bottom: 128px;


&:after{
    position: absolute;
width: 570px;
content: '';
display: block;
background-color: $title-color;
height: 2px;
left: 830px;
top: 172px;
}
    }

    &__text{
        font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
color: $text-color; 
    }

    &__list{
        display: flex;
        gap: 32px;
        flex-direction: column;
        &:last-of-type{
            gap: 16px;
        }
    }

    &__link{
        font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 36px;
color:$logo-color;
    }

    &__image{
        margin-top: 24px;
        display: block;
        width: 550px;
height: 600px;
    }
}