<section class="basement">
  <div class="basement__container container">
    <div>
        <picture>
            <source media="(max-width: 767px)" srcset="../img/desktop/header-logo@desktop-1x.png">
    <img src="./img/desktop/footer-logo@desktop-1x.png" alt="" class="basement__logo" />
</picture>
</div>
    <ul class="basement__list">
      <li class="basement__item">
        <h4 class="basement__title">Про CBD</h4>
      </li>
      <li class="basement__item">
        <p class="basement__text">
          CBD – головна керуюча компанія для планування заходів для корпорацій,
          некомерційних організацій, міжнародних урядів та громадських заходів у
          Вашингтоні.
        </p>
      </li>
      <li class="basement__item">
        <button type="button" class="basement__button">
          Загрузити брошуру
        </button>
      </li>
    </ul>
    <ul class="basement__list">
      <li class="basement__item">
        <h4 class="basement__title">Планування заходів</h4>
      </li>
      <li class="basement__item">
        <p class="basement__text">
            Зустрічі CBD і події
        </p>
      </li>
      <li class="basement__item">
        <p class="basement__text">
            Планування заходів
        </p>
      </li>
      <li class="basement__item">
        <p class="basement__text">
            Послуги організації
        </p>
      </li>
      <li class="basement__item">
        <p class="basement__text">
            Галерея
        </p>
      </li>
      <li class="basement__item">
        <p class="basement__text">
            Вартість
        </p>
      </li>
      <li class="basement__item">
        <p class="basement__text">
            Прайс
        </p>
      </li>
    </ul>
    <ul class="basement__list">
        <li class="basement__item">
            <h4 class="basement__title">Сервіси для клієнтів</h4>
          </li>
        <li class="basement__item">
            <p class="basement__text">Планування зустрічі</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Планування заходів</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Обслуговування</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Зв'язки з громадськістю</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Маркетинг</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Місце проведення</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Оренда матеріалів</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Аудіовізуал</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Фотографія</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Реєстрація</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Організація заходів</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Звук і освітлення</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Концепція  дизайну</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Менеджмент призначення</p>
        </li>
    </ul>
    <ul class="basement__list">
        <li class="basement__item">
            <h4 class="basement__title">Контакти</h4>
        </li>
        <li class="basement__item">
            <p class="basement__text">CBD Зустрічі та індивідуальні заходи</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Поштова скринька 76096</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Вашингтон ДС 20013</p>
        </li>
        <li class="basement__item">
            <p class="basement__text">Гаряча лінія</p>
        </li>
        <li class="basement__item">
            <span class="basement__number">+1 800-956-4514</span>
            <span class="basement__text">код 160</span>
        </li>
        <li class="basement__item">
            <span class="basement__text">Вашингтон ДС</span>
            <span class="basement__number">+1 202-742-5923</span>
        </li>
        <li class="basement__item">
            <span class="basement__text">Атланта</span>
            <span class="basement__number">+1 404-806-0153</span>
        </li>
        <li class="basement__item">
            <p class="basement__email">info@cbdmeetings.com</p>
        </li>
        <li class="basement__item">
           <a href="https://www.facebook.com" class="basement__icon-link">
            <svg class="basement__icon">
                <use href="../img/symbol-defs.svg#icon-facebook-icon"></use>
            </svg>
           </a><a href="https://www.twitter.com" class="basement__icon-link">
            <svg class="basement__icon">
                <use href="./img/symbol-defs.svg#icon-witter-icon"></use>
            </svg>
           </a><a href="https://www.google.com" class="basement__icon-link">
            <svg class="basement__icon">
                <use href="./img/symbol-defs.svg#icon-google-icon"></use>
            </svg>
           </a><a href="https://www.youtube.com" class="basement__icon-link">
            <svg class="basement__icon">
                <use href="./img/symbol-defs.svg#icon-youtube-icon"></use>
            </svg>
           </a>
        </li>
    </ul>
    <div class="basement__cods">
        <p class="basement__text">NAICS Коди:</p>
        <p class="basement__text">541820 | 541613 | 611699 | 323111 | 541810 | 541840 | 541850 | 541840 | 541870 |  541890 | 711510 | 511130 | 
            561990 | 541430 | 541611</p>
    </div>
    <div class="basement__text-container">
        <span class="basement__link-container"><a href="" class="basement__link">Головна</a></span><span class="basement__link-container">|</span><span class="basement__link-container"><a href="" class="basement__link">Продукти</a></span><span class="basement__link-container">|</span><span class="basement__link-container"><a href="" class="basement__link">Кар’єра</a></span><span class="basement__link-container">|</span><span class="basement__link-container"><a href="" class="basement__link">Терміни</a></span>
        <h2 class="basement__redesign">Редизайн сайту 2022/2023</h2>
    </div>
    <a class="scroll-to-top" href="#scroll"><img class="scroll-to-top__img" src="../img/desktop/arrow-to-top.png" alt=""></a>
  </div>
</section>
