<section class="header">
  <div class="container header__containre">
    <a class="header__logo" href="./index.html">CBD</a>
    <!-- <picture class="header__logo" href="./index.html">
      
      <img src="../img/desktop/logo-header@desktop-1x.webp" alt="">
  </picture> -->
    <div class="header__main">
      <div class="header__first">
        <div class="header__first-containre">
          <ul class="header__icon-list">
            <li class="header__icon-item">
              <button class="header__icon-button">
                <svg class="header__icon">
                  <use href="./img/symbol-defs.svg#icon-facebook-icon"></use>
                </svg>
              </button>
            </li>
            <li class="header__icon-item">
              <button class="header__icon-button">
                <svg class="header__icon">
                  <use href="./img/symbol-defs.svg#icon-witter-icon"></use>
                </svg>
              </button>
            </li>
            <li class="header__icon-item">
              <button class="header__icon-button">
                <svg class="header__icon">
                  <use href="./img/symbol-defs.svg#icon-youtube-icon"></use>
                </svg>
              </button>
            </li>
          </ul>
          <ul class="header__link-list">
            <li class="header__link-item">
              <a href="" class="header__link">202.742.5923 ext. 160</a>
            </li>
            <li class="header__link-item">
              <a href="" class="header__link">info @cbdmeetings.com</a>
            </li>
          </ul>
        </div>
        <ul class="header__form-list">
          <li class="header__form-item">
            <a href="" class="header__form-first">Логін</a>
          </li>
          <li>
            <p class="header__line">/</p>
          </li>
          <li class="header__form-item-extra">
            <a href="" class="header__form-second">Зареєструватися</a>
          </li>
        </ul>
        <button class="header__menu-button">
          <svg class="header__icon-menu">
            <use href="../img/symbol-defs.svg#icon-mobile-menu"></use>
          </svg>
        </button>
        <!-- <svg class="header__icon-menu">
        <use href="./img/symbol-def.svg#icon-button_menu">
        </svg> -->
      </div>
      <div class="header__second">
        <ul class="header__anchor-list">
          <li class="header__anchor-item">
            <a href="./about.html" class="header__anchor">Про нас</a>
          </li>
          <li class="header__anchor-item">
            <a href="./service.html" class="header__anchor">Сервіси</a>
          </li>
          <li class="header__anchor-item">
            <a href="./portfolio.html" class="header__anchor">Портфоліо</a>
          </li>
          <li class="header__anchor-item">
            <a href="" class="header__anchor">Клієнти</a>
          </li>
          <li class="header__anchor-item">
            <a href="./search.html" class="header__anchor">Магазин</a>
          </li>
          <li class="header__anchor-item">
            <a href="" class="header__anchor">Контакти</a>
          </li>
          <li class="header__anchor-item">
            <a href="./price.html" class="header__anchor">Вартість</a>
          </li>
          <li class="header__anchor-item">
            <a href="" class="header__anchor">Події</a>
          </li>
        </ul>
        <label class="header__label">
          <input type="text" class="header__input" placeholder="Пошук" />
          <svg class="header__input-svg">
            <use href="./img/symbol-defs.svg#icon-search-icon"></use>
          </svg>
        </label>
      </div>
    </div>
  </div>
</section>
