<section class="concept">
  <div class="container">
    <h2 class="concept__title">Вишукані концепції дизайну</h2>
    <div class="concept__list">
    <picture  class="concept__first">
      <source media="(min-width: 1200px)" srcset="././img/desktop/concept-img1@desktop-1x.jpg 1x, ././img/desktop/concept-img1@desktop-2x.jpg 2x"/>
      <source media="(min-width: 320px)" srcset="././img/main/mobile/concept-first-mobile1x.png 1x, ././img/main/mobile/concept-first-mobile2x.png 2x"/>
      <img class="concept__img" src="././img/desktop/concept-img1@desktop-1x.jpg" alt="свічки" />
    </picture>
    <picture class="concept__second">
      <source media="(min-width: 1200px)" srcset="././img/desktop/concept-img2@desktop-1x.jpg 1x, ././img/desktop/concept-img2@desktop-2x.jpg 2x"/>
      <source media="(min-width: 320px)" srcset="././img/main/mobile/concept-second-mobile1x.png 1x, ././img/main/mobile/concept-second-mobile2x.png 2x"/>
      <img class="concept__img" src="././img/desktop/concept-img2@desktop-1x.jpg" alt="Святковий стіл"  />
    </picture>
    <picture class="concept__third">
      <source media="(min-width: 1200px)" srcset="././img/desktop/concept-img3@desktop-1x.jpg 1x, ././img/desktop/concept-img3@desktop-2x.jpg 2x"/>
      <source media="(min-width: 320px)" srcset="././img/main/mobile/concept-third-mobile1x.png 1x, ././img/main/mobile/concept-third-mobile2x.png 2x"/>
      <img class="concept__img" src="././img/desktop/concept-img3@desktop-1x.jpg" alt="квіти"  />
    </picture>
  </div>
    <button class="concept__button">Детальніше</button>
  </div>
</section>
