<section class="hero">
    <div class="container hero__section">
        <div class="hero__main">
        <div class="hero__first">
        <h1 class="hero__title">#1 Організатор корпоративних заходів</h1>
        <h1 class="hero__title-mobile">CBD</h1>
    </div>
    <div class="hero__second">
        <p class="hero__text">Протокол зустрічей і заходів CBD. Ми є фірмою №1 з корпоративного планування у Вашингтоні для міжнародних урядів, дипломатів і банків.<button class="hero__button">Детальніше</button></p>
    <p class="hero__text-mobile">Зустрічі та індивідуальні заходи</p>    
</div>
</div>
<label for="" class="hero__label">
    <input type="text" class="hero__input" placeholder="Пошук">
    <svg class="hero__svg">
        <use href="././img/symbol-defs.svg#icon-search-icon"></use>
    </svg>
</label>
    </div>
</section>
