<section class="news">
    <div class="container">
        <h2 class="news__title">Останні новини</h2>
        <ul class="news__list">
            <li class="news__item">
                <p class="news__text">04 Травня 2019</p>
                <picture class="news__picture">
                    <source>
                    <img src="" alt="">
                </picture>
                <h3 class="news__sub-title">Як планується захід</h3>
            </li>
            <li class="news__item">
                <p class="news__text">21 Серпня 2019</p>
                <picture class="news__picture">
                    <source>
                    <img src="" alt="">
                </picture>
                <h3 class="news__sub-title">Інформація для пошуку організатора</h3>
            </li>
            <li class="news__item">
                <p class="news__text">28 Серпня 2019</p>
                <picture class="news__picture">
                    <source>
                    <img src="" alt="">
                </picture>
                <h3 class="news__sub-title">Зустрічі та заходи. Брошура</h3>
            </li>
        </ul>
        <button class="news__button">Ознайомитися</button>
    </div>
</section>