<section class="news">
  <div class="container news__conainer">
    <h2 class="news__title">Останні новини</h2>
    <ul class="news__list">
      <li class="news__item">
        <p class="news__text">04 Травня 2019</p>       
        <picture>
          <source  media="(min-width: 1440px)"
          src="news-img1@desktop-1x.jpg 1x, 
               news-img1@desktop-2x.jpg 2x"/>
          <img  class="news__picture" src="././img/desktop/news-img1@desktop-1x.jpg" alt="" />
        </picture>
        <h3 class="news__sub-title">Як планується захід</h3>
      </li>
      <li class="news__item-right">
        <p class="news__text">21 Серпня 2019</p>
        <picture>
          <source  media="(min-width: 1440px)"
          src="news-img2@desktop-1x.jpg 1x, 
               news-img2@desktop-2x.jpg 2x"/>
          <img  class="news__picture" src="././img/desktop/news-img2@desktop-1x.jpg" alt="" />
        </picture>
        <h3 class="news__sub-title">Інформація для пошуку організатора</h3>
      </li>
      <li class="news__item">
        <p class="news__text">28 Серпня 2019</p>
        <picture>
          <source
            media="(min-width: 1440px)"
            src="news-img3@desktop-1x.jpg 1x, 
                 news-img3@desktop-2x.jpg 2x"
          />
          <img  class="news__picture" src="././img/desktop/news-img3@desktop-1x.jpg" alt="" />
        </picture>
        <h3 class="news__sub-title">Зустрічі та заходи. Брошура</h3>
      </li>
    </ul>
    <button class="news__button">Ознайомитися</button>
  </div>
</section>
