<section class="protocol">
    <div class="container">
        <h2 class="protocol__title">Протокол заходів і зустрічей</h2>
        <ul class="protocol__list">
            <li class="protocol__card">
                <h3 class="protocol__name"> <span class="protocol__number"> 1.</span> Планування</h3>
                <img src="././img/main/arrow-mobile.png" alt="" class="protocol__arrow">
                <p class="protocol__text">Менеджери контенту</p>
                <p class="protocol__text">Укладання договору</p>
                <p class="protocol__text">Концепція дизайну</p>
                <p class="protocol__text">Бюджет</p>
                <p class="protocol__text">Попередня реєстрація</p>
                <p class="protocol__text">Зв'язки з громадськістю</p>
                <p class="protocol__text">Вибір ділянки</p>
                <p class="protocol__text">Бронювання спікерів</p>
                <p class="protocol__text">Пошук талантів</p>
            </li>
            <li class="protocol__card">
                <h3 class="protocol__name"> <span class="protocol__number"> 2.</span> Логістика</h3>
                <img src="././img/main/arrow-mobile.png" alt="" class="protocol__arrow">
                <p class="protocol__text">Повітряна подорож</p>
                <p class="protocol__text">Оренда декору</p>
                <p class="protocol__text">Прокат урочистої білизни</p>
                <p class="protocol__text">Наземний транспорт</p>
                <p class="protocol__text">Бронювання готелю</p>
                <p class="protocol__text">Друк</p>
                <p class="protocol__text">Приватна охорона</p>
                <p class="protocol__text">Кадрове забезпечення</p>
                <p class="protocol__text">Зв’язок з постачальниками</p>
            </li>
            <li class="protocol__card">
                <h3 class="protocol__name"> <span class="protocol__number"> 3.</span> Виконання</h3>
                <img src="././img/main/arrow-mobile.png" alt="" class="protocol__arrow">
                <p class="protocol__text">Подарунки учасникам</p>
                <p class="protocol__text">Аудіовізуал</p>
                <p class="protocol__text">Обслуговування</p>
                <p class="protocol__text">Декор</p>
                <p class="protocol__text">Маркетинг</p>
                <p class="protocol__text">Фотографія</p>
                <p class="protocol__text">Рекламні товари</p>
                <p class="protocol__text">Звук / Освітлення</p>
                <p class="protocol__text">Відеозйомка</p>
            </li>
            <li class="protocol__card">
                <h3 class="protocol__name"> <span class="protocol__number"> 4.</span> Менеджмент</h3>
                <img src="././img/main/arrow-mobile.png" alt="" class="protocol__arrow">
                <p class="protocol__text">Управління контрактами</p>
                <p class="protocol__text">Управління призначенням</p>
                <p class="protocol__text">Управління логістикою</p>
                <p class="protocol__text">Управління протоколом</p>
                <p class="protocol__text">Виїзні події</p>
                <p class="protocol__text">Реєстрація учасників на місці</p>
                <p class="protocol__text">Закупівлі</p>
                <p class="protocol__text">Стратегічний менеджмент</p>
            </li>
        </ul>
    </div>
</section>