<section class="service">
  <div class="container">
    <h2 class="service__title">Вибір послуг</h2>
    <div class="service__cards">
    <ul class="service__first-card">
      <li class="service__card"><p class="service__text-first">Логістика та реєстрація</p></li>
      <li class="service__card"><p class="service__text-second">Менеджмент призначення</p></li>
      <li class="service__card"><p class="service__text-third">Обговорення місця та об’єкта</p></li>
      <li class="service__card"><p class="service__text-fourth">Обслуговування</p></li>
    </ul>
    <ul class="service__second-card">
      <li class="service__card"><p class="service__items-first">Аудіовізуал</p></li>
      <li class="service__card"><p class="service__items-second">Звук і освітлення</p></li>
      <li class="service__card"><p class="service__items-third">Креативний дизайн і декор</p></li>
      <li class="service__card"><p class="service__items-fourth">Фотографія та відеозйомка</p></li>
    </ul>
  </div>
    <button class="service__button">Ознайомитися</button>
  </div>
</section>
