<section class="service">
  <div class="container">
    <h2 class="service__title"></h2>
    <div class="service__first-card">
      <p class="service__text-first">Логістика та реєстрація</p>
      <p class="service__text-second">Менеджмент призначення</p>
      <p class="service__text-third">Обговорення місця та об’єкта</p>
      <p class="service__text-fouth">Обслуговування</p>
    </div>
    <div class="service__second-card">
      <p class="service__items-first">Аудіовізуал</p>
      <p class="service__items-second">Звук і освітлення</p>
      <p class="service__items-third">Креативний дизайн і декор</p>
      <p class="service__items-fouth">Фотографія та відеозйомка</p>
    </div>
    <button class="service__button">Ознайомитися</button>
  </div>
</section>
