.service{
  padding-top: 40px;
height: 520px;
flex-shrink: 0;
background-image: url(../../img/main/mobile/service-background.png),
linear-gradient(#979797, #979797);
background-position: right, center;
background-repeat: no-repeat, no-repeat;
background-size: 250px, auto;
@media screen and (min-width: 1200px) {
        padding-top: 108px;
        height: 574px;        
      background-image: url(../../img/main/service-background@desktop-1x.png),
        linear-gradient(#979797, #979797);
      background-position: center, center;
      background-repeat: no-repeat, no-repeat;
      background-size: 1288px, auto;
      @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../../img/main/service-background@desktop-2x.png),
        linear-gradient(#979797, #979797);  }
    }

      &__title{
        color: $background-color;
        font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin-bottom: 16px;
        @media screen and (min-width: 1200px) {
        font-size: 56px;
line-height: 64px; 
display: flex;
justify-content: center;
align-items: center;
gap: 36px;
margin-bottom: 24px;
        }
      }

      &__title::after{
        content: "";
        display: none;
        @media screen and (min-width: 1200px) {
        display: block;
        width: 913px;
        height: 2px;
    background-color: $background-color;
        }
}

      &__first-card{
        display: flex;
        flex-direction: column;
        max-width: 316px;
        height: 140px;
        background: $second-title-color;
        gap: 12px;
        border-bottom: 2px solid $title-color;
        @media screen and (min-width: 1200px) {
        height: 256px;
        max-width: 658px;
        display: flex;
padding: 12px 0px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
border-radius: 8px;
background: $second-title-color;
border-bottom: none;
        }
      }
      &__second-card{
        justify-content: flex-end;
        height: 140px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media screen and (min-width: 1200px) {
          height: 256px;
        display: flex;
padding: 12px 0px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 8px;
border-radius: 8px;
background: $second-title-color;
        }

      }

      &__cards{
        flex-direction: column;
        background-color: $second-title-color;
        padding: 16px;
        border-radius: 8px;
        @media screen and (min-width: 1200px) {
          padding: auto;
          background-color: transparent;
          flex-direction: row;
        display: flex;
        gap: 50px;
        justify-content: center;
        margin-bottom: 24px;
        }
      }

      p{
        font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 18px;
        color: $text-color;
        @media screen and (min-width: 1200px) {
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 128.571% */
display: flex;
justify-content: center;
align-items: center;
        }
      }

      &__button{
        display: none;
        @media screen and (min-width: 1200px) {
        display: flex;
width: 240px;
padding: 10px 16px;
justify-content: center;
align-items: center;
gap: 8px;

border-radius: 4px;
border: none;
border-bottom: 1px solid $text-color;
background: $background-color;


color: $button-color;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 122.222% */
 margin: 0 auto;
        }
    }
  &__button:hover{
    background-color: $button-color;
    color: $background-color;
    transition: opacity 250ms cubic-bezier(0.83, -0.08, 0.32, 1);

  }

&__text-first{
    padding-left: 8px;
}


  &__text-second{
    margin-left: 15px;
    @media screen and (min-width:1200px){
      margin-left: 0px;
    gap: 20px;
    }
  }
  &__text-second::before{
    display: none;
    @media screen and (min-width:1200px){
    content: "";
    display: block;
    width: 88px;
    height: 2px;
background-color: $title-color;}
  }

  &__text-third{
    margin-left: 31px;
    @media screen and (min-width:1200px){
      margin-left: 0px;
    gap: 24px;
    }
  }
  &__text-third::before{
    display: none;
    @media screen and (min-width:1200px){
    content: "";
    display: block;
    width: 176px;
    height: 2px;
background-color: $title-color;}
  }

  &__text-fourth{
    margin-left: 47px;
    @media screen and (min-width:1200px){
      margin-left: 0px;
      gap: 23px;
      }
  }
  &__text-fourth::before{
    display: none;
    @media screen and (min-width:1200px){
    content: "";
    display: block;
    width: 264px;
    height: 2px;
background-color: $title-color;}
  }

  &__items-first{
    gap: 8px;
  }

  &__items-first::after{
    display: none;
    @media screen and (min-width:1200px){
    content: "";
    display: block;
    width: 440px;
    height: 2px;
background-color: $title-color;
    }
}

&__items-second{
  margin-left: 16px;
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
    gap: 8px;
  }

  &__items-second::after{
    display: none;
    @media screen and (min-width:1200px){
    content: "";
    display: block;
    width: 382px;
    height: 2px;
background-color: $title-color;}
}
    }

&__items-third{
  margin-left: 32px;
  @media screen and (min-width: 1200px) {
    gap: 8px;
  }
  }

  &__items-third::after{
    display: none;
    @media screen and (min-width:1200px){
    content: "";
    display: block;
    width: 98px;
    height: 2px;
background-color: $title-color;}
    }


&__items-fourth{
  margin-left: 48px;
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
    gap: 8px;
  }
}
}