.topic{
    height: 762px;
    padding-top: 48px;
    padding-bottom: 48px;
    @media screen and (min-width: 768px) {
        position: relative;
        height: 534px;
        padding-top: 88px;
        padding-bottom: 48px;
    }
    @media screen and (min-width: 1200px) {
        height: 762px;
        padding-top: 108px;
    }

    &__title-first{
        color: $title-color;
        font-family: "Montserrat Alternates";
        font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 40px;
border-bottom: solid 1px $title-color;
@media screen and (min-width: 768px) {
    font-family: "Montserrat Alternates";
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 48px;
display: flex;
gap: 23px;
align-items: center;
border-bottom: none;}
@media screen and (min-width: 1200px) {
    display: flex;
    gap: 23px;
    align-items: center;
    border-bottom: none;
        font-size: 56px;
line-height: 64px; /* 114.286% */
}
    }
    &__title-first::after{
        content: "";
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
            background-color: $title-color;
            width: 15px;
            height: 5px;
        }
    }

    &__title-second{
        color: $title-color;
        font-family: "Montserrat Alternates";
        font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 40px;

display: flex;
justify-content: flex-end;
@media screen and (min-width: 768px) {
    font-family: "Montserrat Alternates";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {

        display: flex;
        font-size: 56px;
line-height: 64px; /* 114.286% */
justify-content: flex-end;
margin-bottom: 40px;
}
    }

    &__name{
        color: $logo-color;
        font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-top: 16px;
margin-bottom: 16px;
@media screen and (min-width: 768px) {
    margin-top: 0;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
}
@media screen and (min-width: 1200px) {
font-size: 28px;
font-weight: 500;
line-height: 36px; 
margin-bottom: 32px;
margin-top: 0px;
}
    }

    &__text{
        color: $text-color;
        font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; 
@media screen and (min-width: 768px) {
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px;
}
@media screen and (min-width: 1200px) {
font-size: 20px;
line-height: 32px; /* 160% */
}
}

&__special{
    color: $text-color;
    font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
@media screen and (min-width: 768px) {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    }
@media screen and (min-width: 1200px) { 
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */}
}

  &__conainer{
    display: flex;
    flex-direction: column;
padding: 8px;
justify-content: center;
align-items: center;
flex-shrink: 0;
gap: 25px;
@media screen and (min-width: 768px) {
    width: 342px;
height: 232px;
flex-shrink: 0;
    gap: 23px;
}
@media screen and (min-width: 1200px) {
    width: 537px;
    height: auto;
    gap: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
    }

    &__button{
        background: $second-title-color;
        display: flex;
width: 343px;
padding: 12px;
justify-content: center;
align-items: flex-end;
gap: 8px;
        color: $button-color;
        
        margin-top: 24px;
        font-family: Montserrat;
        display: flex;
        /* mobile/bbtn */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 128.571% */
@media screen and (min-width: 768px) {
    margin-top: 0px;
display: flex;
width: 200px;
padding: 12px;
justify-content: center;
align-items: flex-end;
gap: 8px;
border-radius: 4px;
border-bottom: 1px solid $text-color;
background-color: $background-color;
}
        @media screen and (min-width: 1200px) {
            background-color: $background-color;
width: 240px;
padding: 10px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border: none;


}
    }

    &__box{
        display: flex;
        flex-direction: column-reverse;
        @media screen and (min-width: 768px) {
            width: 516px;
height: 286px;
flex-shrink: 0;
            flex-direction: row;
        }
        @media screen and (min-width: 1200px) {
        gap:89px;
        flex-direction: row;
        }
    }

    &__picture{
        max-width: 343px;
max-height: 232px;
flex-shrink: 0;
@media screen and (min-width: 768px) {
    max-width: 342px;
max-height: 232px;
flex-shrink: 0;
    position: absolute;
    bottom: 54px;
    right: 32px;
}
@media screen and (min-width: 1200px) {
    position: static;
        max-width: 670px;
max-height: 420px;
}

border-radius: 8px;
border: 2px solid $second-title-color;

    }


    &__text-box{
        width: 343px;
        display: flex;
        justify-content: flex-end;
        @media screen and (min-width: 1200px) {
            width: auto;
        }
    }
}