.information {
  padding-top: 108px;
  padding-bottom: 200px;

  &__title {
    color: $title-color;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    text-align: center;
    margin-bottom: 32px;
  }

  &__text {
    color: $text-color;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 0 auto;
    max-width: 1180px;
  }

  &__link {
    color: $button-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    display: block;
    margin: 0 auto;
    background: none;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #3D3C39;
    width: 240px;
    padding: 10px 16px;
    margin-top: 32px;
  }
}
