.basement{
    background-color: $footer-color;
    position: relative;
    padding-bottom: 180px;
    padding-top: 72px;

    @media screen and (min-width: 768px) {
        padding-bottom: 510px;
        padding-top: 40px;
    }
    @media screen and (min-width: 1440px) {
        padding-bottom: 180px;
    padding-top: 72px;
    }

    &__container{
        display: flex;
        gap: 40px;

        @media screen and (min-width: 768px) {
            gap: 16px;
        }
        @media screen and (min-width: 1440px) {
            gap: 40px;
        }
        
    }

    &__text{
        font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px;
color: $second-text-color;
width: 240px;

@media screen and (min-width: 768px) {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
@media screen and (min-width: 1440px) {
    font-weight: 400;
line-height: 18px;
font-size: 16px;
}
    }

    &__logo{
        padding-right: 87px;

        @media screen and (min-width: 768px) {
            padding-right: 50px;
        }
        @media screen and (min-width: 1440px) {
            padding-right: 87px;
        }
    }

    &__title{
        font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px;
color: $second-text-color;
padding-bottom: 4px;

        
@media screen and (min-width: 768px) {
    font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 18px;
font-family: Montserrat;
}
@media screen and (min-width: 1440px) {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    .basement__list:nth-child(3) &{
               font-family: "Roboto Condensed";
    }
    .basement__list:nth-child(4) &{
               font-family: "Roboto Condensed";
    }
    .basement__list:nth-child(5) &{
        font-family: "Roboto Condensed";
}
}
    }

    &__button{
        width: 240px;
padding: 10px 8px;
border-radius: 4px;
border: 1px solid $logo-color;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
color: $title-color;
    }

    &__item{
        .basement__list:first-of-type &:last-of-type{
        margin-top: 40px;
        }
    }

    &__number, &__email{
        font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 18px;
color:$background-color;
    }

    &__link-container, &__link{
        font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
color: $second-text-color;
@media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 14px;
line-height: 18px;
}
@media screen and (min-width: 1440px) {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px
}
    }

    &__redesign{
        font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 36px;
color: $second-text-color;
margin-left: 554px;
@media screen and (min-width: 768px) {
    margin-left: 174px;
    font-weight: 400;
    font-size: 14px;
line-height: 18px;
}
@media screen and (min-width: 1440px) {
    margin-left: 554px;
    font-size: 28px;
    font-weight: 500;
line-height: 36px;
}
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 8px;
        @media screen and (min-width: 768px) {
            &:nth-child(2){
                position: absolute;
                top: 162px;
                left: 42px;
            }
            &:nth-child(5){
                position: absolute;
                top: 470px;
                left: 42px;
            }
        }
    }

    &__cods, &__text-container{
        position: absolute;
    }

    &__cods{
        top:770px;
        left: 421px;
        width: 315px;

        @media screen and (min-width: 768px) {
            top:770px;
        left: 421px;
        width: 315px;
        }
        @media screen and (min-width: 1440px) {
            top:364px;
        left: 40px;
        width: 440px;
        }
    }

    &__icon{
        width: 24px;
height: 24px;
fill: $second-text-color;
    }

    &__text-container{
        top: 576px;
        display: flex;

        @media screen and (min-width: 768px) {
            top: 890px;
        }
        @media screen and (min-width: 1440px) {
            top: 576px;
        display: flex;
        }
    }
}