.basement{
    background-color: $footer-color;
    position: relative;
    padding-bottom: 180px;
    padding-top: 72px;

    &__container{
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }

    &__text{
        font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px;
color: $second-text-color;
width: 240px;
    }

    &__logo{
        padding-right: 87px;
    }

    &__title{
        font-family: "Roboto Condensed";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px;
color: $second-text-color;
padding-bottom: 4px;
        .basement__list:first-of-type &{
            line-height: 22px;
            font-family: Montserrat;
        }
    }

    &__button{
        width: 240px;
padding: 10px 8px;
border-radius: 4px;
border: 1px solid $logo-color;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
color: $title-color;
    }

    &__item{
        .basement__list:first-of-type &:last-of-type{
        margin-top: 40px;
        }
    }

    &__number, &__email{
        font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 18px;
color:$background-color;
    }

    &__link-container, &__link{
        font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
color: $second-text-color;
    }

    &__redesign{
        font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 36px;
color: $second-text-color;
margin-left: 554px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__cods, &__text-container{
        position: absolute;
    }

    &__cods{
        top:364px;
        left: 40px;
        width: 440px;
    }

    &__icon{
        width: 24px;
height: 24px;
fill: $second-text-color;
    }

    &__text-container{
        top: 576px;
        display: flex;
    }
}