.header{
    background-color: $footer-color;
    padding-top: 10px;

    &__main{
        margin-left: 84px;
    }
    &__link-list{
        display: flex;
        gap: 128px;
    }
    &__link{
        color: $title-color;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 112.5% */
    }
    &__second{
        height: 79px;
        border-top: solid 2px $second-text-color;
        display: flex;
        gap: 32px;
        padding-top: 17px;
    }
    &__form-first{
        color: $title-color;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
margin-right: 8px;

    }
    &__form-second{
        color: $title-color;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
margin-left: 8px;
    }
    &__form-item-extra{
        border-left: 2.3px solid $title-color;
    }
    &__first{
        display: flex;
        gap: 131px;
        margin-bottom: 19px;
    }
&__first-containre{
    display: flex;
    gap: 128px;
}
    &__icon-list{
        display: flex;
        gap: 8px;
    }
    &__icon{
        fill: $background-color;
        width: 24px;
        height: 24px;
    }
    &__icon-button{
        background-color: rgba(255, 255, 255, 0);;
        width: 24px;
height: 24px;
border: solid 1px $text-color;
    }
    &__form-list{
        padding-top: 20px;
        display: flex;
    }

    &__anchor-list{
        display: flex;
        gap: 40px;
    }

    &__anchor{
        color: $title-color;;
        font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
    }
    &__input{
        max-width: 127px;
    }
    
    &__input{
        width: 100%;
        display: inline-flex;
height: 40px;
padding: 8px 8px 8px 8px;
align-items: center;
flex-shrink: 0;

color: $second-text-color;

/* menu bttn */
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 122.222% */

border-radius: 4px;
border: 1px solid $second-text-color;
    }

    &__input-svg{
        width: 18.707px;
height: 18.708px;
flex-shrink: 0;
    }
}